@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: 500, 600, 700;
  font-style: normal;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

::-webkit-scrollbar {
  display: none;
}
